.botonee {
  margin-right: 10px; /* Ajusta el valor del margen según tus preferencias */
  border: 2px solid #fcc23f;
  background-color: transparent;
  color: aliceblue;
  border-radius: 5px;
}
.botonees {
  background-color: transparent;
    border: 2px solid #fcc23f;
    margin-right: 10px;
    border-radius: 5px;
    transition: all 0.2s ease;
    width: 230px;
    height: 25px;
    padding-left: 10px;
    color: aliceblue;
}
.botonee:hover{
  box-shadow: 0 0 10px 2px #fcc23f;
}

