.filter-container {
    position: relative;
    
  }
  
 
  
  .opciones {
    display: flex;
    position: absolute;
    top: 100%;
    left: 0;
    background: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  
  .opciones button {
    padding: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
  }
  
  .opciones button:hover {
    background: #f2f2f2;
  }
  